html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.swiper-container {
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items:center;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
}
.pho-w {
  position: relative;
  margin-top: 0.2rem;
  width: 3rem;
}
.pho-w img {
  z-index: 99;
  display: block;
  width: 100%;
}
.pho-w .pho1 {
  top: 0.21rem;
  left: 0.26rem;
  position: absolute;
  width: 2.5rem;
}
.pho-w .pho1 img {
  width: 100%;
}
.pho-w .m3 {
  position: absolute;
  top: 0.35rem;
  right: 0.4rem;
  width: 52px;
  height: 52px;
}
.pho-w .m4 {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 52px;
  height: 52px;
}
.mother {
  display: flex;
  flex-direction: column;
  height: 3rem;
  align-items: center;
}
.mother > img {
  display: block;
  width: 2.83rem;
  height: 0.39rem;
}
.mother .mother2 {
  position: relative;
  width: 100%;
  flex: 1;
}
.mother .mother2 img {
  position: absolute;
}
.mother .mother2 .zui {
  top: 0.3rem;
  left: 0;
  width: 0.81rem;
  height: 0.87rem;
}
.mother .mother2 .qin {
  top: 0rem;
  left: 0.7rem;
  width: 0.79rem;
  height: 0.86rem;
}
.mother .mother2 .ai {
  width: 0.83rem;
  height: 0.84rem;
  left: 1.5rem;
  top: 0rem;
}
.mother .mother2 .de {
  width: 0.80rem;
  height: 0.87rem;
  left: 2.3rem;
  top: 0.3rem;
}
.mother .mother2 .ma {
  width: 1.02rem;
  height: 0.97rem;
  top: 1rem;
  left: 0.5rem;
}
.mother .mother2 .ma2 {
  width: 0.95rem;
  height: 1rem;
  top: 1rem;
  left: 1.4rem;
}
.mother .mother2 .mom {
  height: 0.34rem;
  width: 1.82rem;
  bottom: 0;
  left: 0.5rem;
}
@-webkit-keyframes fadeinShake {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeinShake {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  60% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  70% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  80% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  85% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  90% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.mother .mother2 .fadeinShake {
  -webkit-animation-name: fadeinShake;
  animation-name: fadeinShake;
}
.up {
  width: 0.28rem;
  height: 0.21rem;
  animation: fn2 2s linear  infinite;
  position: absolute;
  bottom: 0.5rem;
  left:45%;
}
@-webkit-keyframes fn2 {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fn2 {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
}
.audioM {
  width: 0.5rem;
  height: 0.5rem;
  position: fixed;
  top: 0.2rem;
  right: 0.2rem;
  z-index: 99;
}
.audioM img {
  width: 100%;
  display: block;
  animation: fn 3s linear infinite;
  -webkit-animation: fn 3s linear infinite ;
}
@keyframes fn {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.n2 {
  width: 90%;
  height: 3.6rem;
  background: url(../img/n2.png) no-repeat;
  background-size: cover;
  position: relative;
}
.n2 img {
  width: 99%;
  height: 2.8rem;
  position: absolute;
  top: 0.3rem;
  left: -0.1rem;
}
.n2 .nimg {
  width: 85%;
  left: 0.25rem;
}
.n3 {
  font-size: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.n3 span {
  display: inline-block;
  padding: 0.1rem 0;
}
.n3 span:first-child {
  font-size: 0.3rem;
  line-height: 0.3rem;
}
.n3 span:nth-child(2) {
  font-size: 0.6rem;
  line-height: 0.6rem;
}
.n3 span:nth-child(3) {
  font-size: 0.25rem;
  line-height: 0.25rem;
}
.n3 span:nth-child(4) {
  font-size: 0.5rem;
  line-height: 0.5rem;
}
.n3 span.ns {
  font-size: 0.3rem;
  line-height: 0.3rem;
}
div.star {
  height: 1.5rem;
  width: 100%;
  position: relative;
}
div.star img {
  position: absolute;
  -webkit-animation: fn3 2s linear  infinite;
  animation: fn3 2s linear  infinite;
}
@keyframes fn3 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -5deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -5deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 5deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 5deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -5deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes fn3 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
div.star img:first-child {
  left: 0.3rem;
  top: 0.3rem;
}
div.star img:nth-child(2) {
  left: 0.5rem;
  top: 1.0rem;
}
div.star img:nth-child(3) {
  left: 1.5rem;
  top: 0.1rem;
}
div.star img:nth-child(4) {
  left: 1.3rem;
  top: 0.8rem;
}
div.star img:nth-child(5) {
  left: 1.9rem;
  top: 1.1rem;
}
div.star img:nth-child(6) {
  left: 2.0rem;
  top: 0.5rem;
}
div.star img:nth-child(7) {
  left: 2.5rem;
  top: 0.3rem;
}
div.star img:nth-child(8) {
  left: 2.6rem;
  top: 1.1rem;
}
div.star img:nth-child(9) {
  left: 3.0rem;
  top: 0.7rem;
}
span {
  font-size: 0.4rem;
  color: #fff;
}
span:nth-child(3) {
  font-size: 0.6rem;
}
